download data from: https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip

In [1]:
# eda and wrangling
import numpy as np
import pandas as pd

# data visualization
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('household_power_consumption.txt', sep=';')
df

C:\Users\Iman\AppData\Local\Temp\ipykernel_19204\3111063298.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt', sep=';')

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

In [4]:
df.shape

(2075259, 9)

get random samples from data set

In [5]:
df_sub = df.sample(n=5000)
df_sub

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2009664,12/10/2010,07:48:00,2.612,0.000,239.120,11.200,0.000,1.000,18.0
1936814,22/8/2010,17:38:00,?,?,?,?,?,?,NaN
1333495,29/6/2009,18:19:00,1.464,0.204,241.220,6.000,0.000,1.000,19.0
692819,10/4/2008,20:23:00,3.764,0.194,233.640,16.400,29.000,0.000,0.0
603770,9/2/2008,00:14:00,1.330,0.000,243.220,5.400,0.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...
2817,18/12/2006,16:21:00,1.714,0.110,242.570,7.000,0.000,0.000,18.0
1108120,24/1/2009,06:04:00,0.356,0.088,248.230,1.400,0.000,0.000,0.0
405249,24/9/2007,03:33:00,0.186,0.074,240.540,0.800,0.000,0.000,0.0
270833,22/6/2007,19:17:00,0.236,0.142,243.490,1.000,0.000,0.000,0.0
204666,7/5/2007,20:30:00,0.212,0.076,235.390,1.000,0.000,0.000,0.0